requests==2.32.3
pyre-check==0.9.23
click==8.1.8 # for pyre compat
black==25.1.0
flake8==7.2.0
mypy==1.15.0
coverage==7.8.2
python-coveralls==2.9.3
types-requests==2.32.0.20250328
setuptools==80.9.0
types-setuptools==80.9.0.20250529
