version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    steps:
      - checkout
      - run: pip3 install --user --verbose --requirement requirements.txt
      - run: python3 -m unittest --verbose